<a href="/"><h1>Catering System</h1></a>
<h2>Place an Order</h2>
<div ng-show="order.hideform">
	<div class="block-info">
		<p>Order Number: <span>{{ order.orderInfo.orderNumber }}</span></p>
		<p>Company Name: <span>{{ order.orderInfo.companyName }}</span></p>
		<p>Company Address: <div>{{ order.orderInfo.companyAddress }}</div></p>
	</div>
	<div class="block-info">
		<p>Vendor: <span>{{ order.orderInfo.vendor }}</span></p>
		<p>Pick-Up Date: <span>{{ order.orderInfo.date | date: "EEE, M/dd" }}</span></p>
		<p>Pick-Up Time: <span>{{ order.orderInfo.time | date: "h:mm a" }}</span></p>
		<p>Number of People: <span>{{ order.orderInfo.headCount }}</span></p>
	</div>
</div>
<table ng-if="order.orderItems.length > 0">
	<th>Item Name</th>
	<th>Modifications</th>
	<th>Quantity</th>
	<th> </th>
	<tr ng-repeat="item in order.orderItems">
		<td>{{ item.name }}</td>
		<td>{{ item.customization }}</td>
		<td>{{ item.quantity }}</td>
		<td><button ng-click="order.editOrderItems(item)">Edit</button></td>
	</tr>
</table>
<form ng-submit="order.addOrderInfo()" ng-hide="order.hideform">
	<label for="orderNumber">Order Number</label>
	<input type="text" id="orderNumber" ng-model="order.orderInfo.orderNumber">
	<label for="companyName">Company Name</label>
	<input type="text" id="companyName" ng-model="order.orderInfo.companyName">
	<label for="companyAddress">Company Address</label>
	<input type="text" id="companyAddress" ng-model="order.orderInfo.companyAddress">
	<label for="date">Pick Up Date</label> 
	<input type="date" id="date" ng-model="order.orderInfo.date">
	<label for="time">Pick Up Time</label>
	<input type="time" id="time" ng-model="order.orderInfo.time">
	<label for="headCount">Number of People</label>
	<input type="number" id="headCount" ng-model="order.orderInfo.headCount">
	<label for="vendor">
		<select id="vendor" ng-model="order.orderInfo.vendor">
			<option value="">Choose Vendor</option>
			<option ng-repeat="vendor in order.vendors" value="{{vendor}}">{{vendor}}</option>
		</select>
	</label>
	<button ng-submit="order.addOrderInfo()" ng-hide="order.hideform">Add Info</button>
</form>
<button ng-click="order.editOrderInfo()" ng-show="order.hideform">Edit Info</button>
<button ng-repeat="category in order.menuItems" ng-click="order.viewOptions(category.type)" ng-show="order.showCategories">Add {{category.type}}</button>
<div ng-show="order.showOptions">
	<h3>Catgory: {{ order.category }}</h3>
	<p ng-repeat="option in order.options" ng-click="order.viewIngredients(option.name)">{{ option.name }}</p>
</div>
<div ng-show="order.showIngredients">
	<h3>Catgory: {{ order.category }}</h3>
	<h5>{{ order.name }}</h5>
	<form ng-submit="order.addItem()">
		Ingredients: 
		<label ng-repeat="ingredient in order.selectionIngredients">
		  <input
		    type="checkbox"
		    name="selectionIngredients[]"
		    value="{{ingredient}}"
		    ng-checked="order.itemIngredients.indexOf(ingredient) > -1"
		    ng-click="order.toggleIngredient(ingredient)"
		  > {{ingredient}}
		</label>
		<label for="bread" ng-show="order.showBread">Bread: 
			<select id="bread" ng-model="order.itemBread">
				<option value="">Choose Bread</option>
				<option ng-repeat="bread in order.breads" value="{{bread}}">{{bread}}</option>
			</select>
		</label>
		<label for="modify">Add Comment:
			<textarea ng-model="order.customization" id="modify" cols="30" rows="4" value=""></textarea>
		</label>
		<label for="quantity">Quantity:
			<input type="number" id="quantity" ng-model="order.item.quantity">
		</label>
		<button ng-submit="order.addItem()">Add Item</button>
	</form>
	<button ng-click="order.notAddItem()">Do not Add</button>
</div>
<div ng-show="order.showSubmit">
	<button ng-click="order.submitOrder()">Submit Order</button>
</div>