<div id="head">
	<a href="/"><h1 class="brand">Catering System</h1></a>
</div>	
<h3>Configuration</h3>
<button  class="main-btn" class="config" ng-click="editUsers = !editUsers">Manage Users</button>
<a href="/configuration/ingredients"><button class="main-btn" class="config">Manage Ingredients</button></a>
<a href="/configuration/items"><button class="main-btn" class="config">Manage Menu Items</button></a><a href="/configuration/categories"><button class="main-btn" class="config">Manage Menu Categories</button></a>
<a href="/configuration/vendors"><button class="main-btn" class="config">Manage Vendors</button></a>