<div class="job_view" ng-controller="jobsController as jobs">
	<button class='Lbutton' ng-click='jobs.count_down()'></button>
	<table class='job_board'>
		<thead>
			<th> Job Title </th>
			<th> Company </th>
			<th> Location </th>
			<th> Source </th>
			<th> Date Added </th>
			<th colspan="2"> Add to MyJobs </th>
		</thead>
		<tbody>
			<tr ng-repeat="job in jobs.pages | orderBy:'-date'">
				<td>
					<p class='des_link' ng-click="showMe = !showMe"> {{  job.job_title | limitTo : 30}} </p>
				</td>
				<td>
					<div ng-if="job.indeed_url">
						<p>{{ job.company }}</p>
					</div>
					<div ng-if="job.git_url">
						<a href="{{ job.url }}">{{ job.company }}</a>
					</div>
				</td>
				<td>{{ job.location }}</td>
				<td><div ng-if="job.git_url">
						<a href="{{ job.git_url }}">
							<button class='source git'></button>
						</a>
					</div>
					<div ng-if="job.indeed_url">
						<a href="{{ job.indeed_url }}">
							<button class='source indeed'></button>
						</a>
					</div>
				</td>
				<td ng-model="num_limit">{{ job.date | date : 'shortDate' }}</td>
				<td>
					<button class='apply'></button>
				</td>
				<td><input type="checkbox"></td>
				<td colspan="8" rowspan="5" ng-show="showMe" id='show'>
					<p>{{ job.job_title }}</p>
					<p> 
						<a href="{{ job.url }}">{{ job.company }}</a> 
					</p>
					<button class="hide" ng-click="showMe = ''"></button>
					<div class="des" ng-bind-html="jobs.renderHtml( job.description )"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<button class='Rbutton' ng-click='jobs.count_up()'></button>
</div>