<a href="/">
	<div id="head">
		<h1 class="brand">Ordering System</h1>	
	</div>
</a>
<div class="view-order">
	<table>
		<th class="order-viewer-line">Order Number</th>
		<th class="order-viewer-line">Customer</th>
		<th class="order-viewer-line">Vendor</th>
		<th class="order-viewer-line">Pick Up Date</th>
		<th class="order-viewer-line">Pick Up Time</th>
		<tr ng-repeat="order in order.orders">
			<td>{{ order.orderNum }}</td>
			<td>{{ order.customer }}</td>
			<td>{{ order.vendor }}</td>
			<td>{{ order.pickUpDate | date: "EEE, M/dd" }}</td>
			<td>{{ order.pickUpTime | date: "h:mm a" }}</td>
		</tr>
	</table>
</div>