<a href="/">
	<div id="head">
		<h1 class="brand">Ordering System</h1>	
	</div>
</a>
<div id="orders-snippet-view">
	<div class="view-order" ng-if="!order.displayOneOrder">
		<table>
			<th class="order-viewer-line">Order Date</th>
			<th class="order-viewer-line">Vendor</th>
			<th class="order-viewer-line">Company</th>
			<!-- <th class="order-viewer-line">Order Number</th> -->
			<th class="order-viewer-line">Headcount</th>
			<th class="order-viewer-line">Set-Up Time</th>
			<th class="order-viewer-line">Order Total</th>
			<tr ng-repeat="eaOrder in order.orders">
				<td class="order-output-raw">{{ eaOrder.orderDate | date: "EEE, M/dd" }}</td>
				<td class="order-output-raw">{{ eaOrder.vendor }}</td>
				<td class="order-output-raw">{{ order.displayOrder.company }}</td>
				<td class="order-output-raw">{{ eaOrder.headCount }}</td>
		 		<td class="order-output-raw">{{ eaOrder.setUpTime | date: "h:mm a"  }}</td>
		 		<td class="order-output-raw">${{ eaOrder.total }}</td>
		 		<td class="order-output-raw">
					<button class="expand" ng-click="order.viewOrder(eaOrder._id)">  +  </button>
				</td>
			</tr>
		</table>
	</div>
	<div class="display-order" ng-if="order.displayOneOrder">
		<table>
			<th class="order-viewer-line">Order Date</th>
			<th class="order-viewer-line">Vendor</th>
			<th class="order-viewer-line">Company</th>
			<th class="order-viewer-line">City</th>
			<!-- <th class="order-viewer-line">Order Number</th> -->
			<th class="order-viewer-line">Headcount</th>
			<th class="order-viewer-line">Set-Up Time</th>
			<th class="order-viewer-line">Order Total</th>
			<tr>
				<td class="order-output-raw">{{ order.displayOrder.orderDate | date: "EEE, M/dd" }}</td>
				<td class="order-output-raw">{{ order.displayOrder.vendor }}</td>
				<td class="order-output-raw">{{ order.displayOrder.company }}</td>
				<td class="order-output-raw">{{ order.displayOrder.city }}</td>
				<!-- <td class="order-output-raw">{{ order.displayOrder.orderNum }}</td> -->
				<td class="order-output-raw">{{ order.displayOrder.headCount }}</td>
		 		<td class="order-output-raw">{{ order.displayOrder.setUpTime | date: "h:mm a"  }}</td>
		 		<td class="order-output-raw">${{ order.displayOrder.total }}</td>
			</tr>
		</table>
	</div>
</div>
<div id= "orders-complete-view" ng-if="order.displayOneOrder">
	<table>
		<!-- <th class="order-viewer-line">Company</th> -->
		<!-- <th class="order-viewer-line">Contact</th>
		<th class="order-viewer-line">Address</th>
		<th class="order-viewer-line">City</th>
		<th class="order-viewer-line">Phone Number</th> -->
		<tr>
	 		<!-- <td class="order-output-raw">{{ order.displayOrder.company }}</td> -->
	 		<!-- <td class="order-output-raw">{{ order.displayOrder.contact }}</td>
	 		<td class="order-output-raw">{{ order.displayOrder.address }}</td> -->
	 		<!-- <td class="order-output-raw">{{ order.displayOrder.city }}</td> -->
	 		<!-- <td class="order-output-raw">{{ order.displayOrder.phone }}</td> -->
		</tr>
	</table>
	<button class="closing" ng-click="order.displayAllOrders()">X</button>
	<table ng-if="order.displayOrder">
		<th class="order-viewer-line">Category</th>
		<th class="order-viewer-line">Name</th>
		<th class="order-viewer-line">Customization</th>
		<th class="order-viewer-line">Quantity</th>
		<tr ng-repeat="item in order.displayOrder.item">
			<td class="order-output-raw">{{ item.category }}</td>
			<td class="order-output-raw">{{ item.name }}</td>
			<td class="order-output-raw">{{ item.customization }}</td>
			<td class="order-output-raw">{{ item.quantity }}</td>
		</tr>
	</table>
</div>