<div id="head">
	<h1 class="brand">Catering System</h1>
	<a href="/configuration" class="config-btn"><img src="../../assets/img/configure.png" width="30" height="30"></a>
</div>
<div id="main-menu">
	<a href="/order/add" ng-click="order.init()"><button class="welcome-btn">Add an Order</button></a>
	<a href="/order"><button class="welcome-btn">View Orders</button></a>
	<a href="/order/line"><button class="welcome-btn">Order Line</button></a>
	<!-- <a href="/inventory" class="welcome-btn">View Inventory</a> -->	
</div>
