<a href="/"><h1>Catering System</h1></a>
<a href="/configuration"><h3>Configuration</h3></a>
<div class="configEdit">
	<h2>Categories</h2>
	<ul>
		<li ng-repeat="saved in config.categories">
			<p>{{ saved }}</p>
			<button class="main-btn-small"data-ng-click="config.removeCategory(saved)">remove</button>
		</li>
	</ul>
	<ul>
		<li ng-repeat="item in config.list">
			<p>{{ item }}</p>
			<button class="main-btn-small" data-ng-click="config.removeItem(item)">remove</button>
		</li>
	</ul>
	<form id="add_ingredient" ng-show="config.hideForm" ng-submit="config.submitItem()">
		<input class="fancy-fields" type="text" class="inputItem" ng-model="config.item" ng-blur="config.submitItem()" placeholder="Add an Ingredient">
	</form>
	<button class="main-btn-small" class="add" ng-click="config.newForm()">Add New</button>
</div>
<button class="main-btn-small" ng-click="config.submitCategories()">Update List</button>