<a href="/"><h1>Catering System</h1></a>
<a href="/configuration"><h3>Configuration</h3></a>
<div class="configEdit">
	<h2>Menu Items</h2>
	<div ng-repeat="(key, list) in config.menuItems track by $index">
		<h3>Type: {{ list.type }}</h3>
		<div ng-repeat="(key, item) in list.typeList">
			<h4>{{ item.name }}</h4>
			<p ng-repeat="(key, ingredient) in item.ingredients">
				{{ ingredient }}
			</p>
			<button ng-click="config.removeMenuItem(item._id, list._id, $index, list.type)">Remove Menu Item</button>
		</div>
	</div>
	<form id="add_ingredient" ng-show="config.hideForm" ng-submit="config.addMenuItem()">
		<ul>
			<h2>Catgories</h2>
			<li ng-repeat="category in config.categories track by $index">
				<label for="{{ category }}">{{ category }}</label>
				<input type="checkbox" id="{{category}}" ng-model="config.items.category" \
				 	ng-true-value="'{{category}}'" ng-false-value="''">
			</li>
		</ul>
		<ul>
			<h2>Ingredients</h2>
			<li>
				<label ng-repeat="ingredient in config.ingredients">
				  <input
				    type="checkbox"
				    name="selectedIngredients[]"
				    value="{{ingredient}}"
				    ng-checked="config.itemIngredients.indexOf(ingredient) > -1"
				    ng-click="config.toggleSelection(ingredient)"
				  > {{ingredient}}
				</label>
			</li>
		</ul>
		<input type="text" class="inputItem" ng-model="config.items.name" \ 
			placeholder="Name your menu item" ng-click="config.submitMenuItemName()">
		<p> {{ config.items.name }}</p>
		<p> {{ config.items.category }}</p>
		<p ng-repeat="ingredient in config.itemIngredients"> {{ ingredient }}</p>
	</form>
	<button class="add" ng-show="config.hideForm" ng-click="config.addMenuItem()">Add</button>

	<button class="add" ng-hide="config.hideForm" ng-click="config.newForm()">Add New Item</button>
</div>
<button ng-click="config.addMenuItems()">Update List</button>