*{
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow-x: hidden;
}
nav{
	background-color:#1A237E;
	width: 100%;
	text-align: left;
	margin-bottom: 45px;
}
nav>a>h1{
	color: white;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
}
nav>a>h3, nav>h3{
	float: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 10px;
	color: white;
	font-weight: normal;
}
table.job_board{
	display: inline-block;
	border: 1px solid gray;
	border-collapse: collapse;
	background-color: white;
	margin: 0 auto;
	padding: 0;
	width: 1100px;
	overflow: hidden;
}
.job_view {
	width: 100vw;
	height: 100vh;
	background: url('https://ununsplash.imgix.net/reserve/fawrXCzwSsOUMmJr9GGD_alcatraz.jpg?q=75&fm=jpg&s=581307737e7c9f8b24e46d7e770f5769');
    background-size: 100% 100%;
    position: absolute;
    text-align: center;
}
.users_job_view{
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #3F51B5;
}
.category{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	color: #EEFF41;
	text-shadow: 1px 1px #000000;
	text-align: center;
}
.category>h3{
	font-weight: lighter;
}
.job_board tr{
	width: 100%;
}
.job_board th, td{
	border-bottom: 2px solid lightgray;
	font-size: 18px;
	padding: 10px;
	text-align: center;
	width: 20%;
}
.job_board thead{
	background-color: #DCDCDC;
}
.page{
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	width: 100px;
}
.pbutton{
	width: 35px;
	height: 35px;
	margin: 0 auto;
	text-align: center;
	border: transparent;
	display: inline-block;
	vertical-align: top;
}
.Lbutton{
	background: url('/assets/img/left_arrow.svg')no-repeat;
	background-size: 35px 35px;
}
.Rbutton{
	background: url('/assets/img/right_arrow.svg')no-repeat;
	background-size: 35px 35px;
}
.link{
	color: #004C99;
	text-decoration: none;
}
.hide{
	width: 20px;
	height: 20px;
	background: url('http://www.clker.com/cliparts/t/f/J/i/7/C/amazon-style-close-button-md.png')no-repeat;
	background-size: 19px 19px;
	position: absolute;
	top: 10px;
	left: 1060px;
	border-color: transparent;
}
#show li{
	list-style-type: none;
}
#show{
	background-color: white;
	height: 540px;
	overflow:scroll;
	padding: 10px;
	z-index: 2;
	width: 1080px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 100px;
}
.des{
	text-align: left;
	padding: 20px;
	line-height: 30px;
}
.source{
	width: 82px;
	height: 34px;
	border-color: transparent;
	vertical-align: top;
}
.git{
	background: url('http://www.programmableweb.com/sites/default/files/styles/article_profile_150x150/public/apis/at9673.png?itok=E8VU8CKl') no-repeat;
	background-size: 78px 30px;
}
.indeed{
	background: url('http://www.indeed.com/images/indeed.png') no-repeat;
	background-size: 78px 30px;
}
#user_search input,button{
	margin: 15px 10px 0 0;
	text-align: center;
	font-size: 12px;
}
#user_search label{
	color: #87ceeb;
}
#user_search input{
	padding:0px 10px;
	height: 20px;
	width: 175px;
}
#user_search button{
	height: 24px;
	width: 100px;
}
#user_search{
	margin-bottom: 15px;
}
div.job_card{
	width: 15vw;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	margin: 10px 0;
	color: black;
	padding: 5px;
	box-shadow: 2px 2px 2px #000000;
	text-shadow: none;
	text-align: center;
}
.job_card>p, a, div{
	text-align: left;
}
