*{
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow-x: hidden;
}
body{
	padding: 50px;
	margin: 50px;
}
nav{
	background-color:#1A237E;
	width: 100%;
	text-align: left;
	margin-bottom: 45px;
}
nav>a>h1{
	color: white;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
}
nav>a>h3, nav>h3{
	float: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 10px;
	color: white;
	font-weight: normal;
}
.block-info{
	display: inline-block;
	vertical-align: top;
}