@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font 
	overflow-x: hidden;
	color: #4b4b4b;
}
body{
	padding: 0;
	margin: 1px;
}
nav{
	background-color:#1A237E;
	width: 100%;
	text-align: left;
	margin-bottom: 45px;
}
nav>a>h1{
	color: white;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	text-decoration: none;
}
nav>a>h3, nav>h3{
	float: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 10px;
	color: white;
	font-weight: normal;
}
a.main-btn {
	text-decoration: none;
	padding-top: 20px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-color: #4b4b4b;
	font-size: 25px;
	text-decoration: none;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-color: #4b4b4b;
	font-size: 18px;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-color: #4b4b4b;
	font-size: 15px;
}
a {
	text-decoration: none;
}
td, th{
	text-align: center;
	padding: 10px
}
/*-------------------------------------------Welcome Page Elements-------------------------------------------------------*/
#main-message {
	width: 60%;
	margin: auto;
	padding-bottom: 100px;
}
#main-menu {
	margin: 20px auto;
    width: 60%;
    padding: 100px 0 0 0;
}
.main-btn {
	background: #b539ae;
	border: 2px solid #b539ae;
	border-radius: 8px;
	width: 130px;
	height: 29px;
	margin: 20px auto;
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: white;
}
.main-btn-small	{
	background: #b539ae;
	border: 2px solid #b539ae;
	border-radius: 5px;
	width: 90px;
	height: 20px;
	margin: 20px 20px 0 40px;
	display: inline-block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	color: white;

}
/*----------------------------------------------Ordering Page Elements-------------------------------------------------------*/
#head {
	margin-bottom: 15px;
	padding-bottom: 20px;
	background-color: #b539ae; 
}
h1.brand  {
	color: white;
	text-align: left;
	padding: 15px 0 0 25px;
}
h2.page-instructions	{
	text-align: center;
	padding: 30px 0 30px 0;

}
#customer-fields {
	width: 30%;
	float: left;
	padding: 0 0 0 15px;
}
.order-item {
	height: 35px;
	padding: 5px 0 0 0;
}
.block-info{
	display: block;
	vertical-align: top;
}
.fancy-fields {
	height: 25px;
	width: 200px;
	border: 1px solid #B0A8A6;
	border-radius: 35px;
	text-align: center;
}
.fancy-fields-small	{
	height: 25px;
	width: 130px;
	border: 1px solid #B0A8A6;
	border-radius: 35px;
	text-align: center;
}
.fancy-fields-xs	{
	height: 25px;
	width: 80px;
	border: 1px solid #B0A8A6;
	border-radius: 35px;
	text-align: center;
}
input:focus	{
	outline: none;
	border-color: #df9eed;
	box-shadow: 0 0 10px #df9eed;
}
label {
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
p.order-info {
	font-weight: 500;
	color: #545454;
	padding: 8px 0 0 0;
}
.order-field-result	 {
	font-weight: 100;
}
form {
	display: inline;
}
.cat-btn {
	background: #A10978;
	border: none;
	border-radius: 35px;
	height: 20px;
	min-width: 25%;
	display: inline-block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	font-size: 12px;
	color: white;
	vertical-align: top;
}
.fancy-selector {
	height: 27px;
	background: white;
	vertical-align: top;
}
select:focus	{
	outline: none;
	border-color: #df9eed;
	box-shadow: 0 0 10px #df9eed;
}
.item-btn {
	border: 1px solid #A10978;
	background: #A10978;
	border-radius: 35px;
	max-width: 35%;
	min-width: 5%;
	margin: 3px 0 3px 0;
	text-align: center;
	font-size: 13px;
	color: white;
}
#items-ordered {
	width: 28.9%;
	display: inline-block;
}
#order-display	{
	width: 40%;
	float: right;
	display: inline-block;
	height: auto;
}
td.order-summary	{
	text-align: left;
	font-weight: 300;
	font-size: 14px;
}
th.summary-column	{
	padding-right: 120px;
	font-weight: 500;
	margin: 10px;
}
/*Singling this element out to allow for better rendering on table by centering while the rest are align to the left*/
td.summary-quantity	{ 
	text-align: center;
	font-weight: 300;
}
th.summary-column-quantity	{
	text-align: center;
}
.edit-btn	{
	background: #A10978;
	border: none;
	border-radius: 35px;
	height: 25px;
	min-width: 30px;
	display: inline-block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	font-size: 12px;
	color: white;
	vertical-align: top;
	float: right;
}
.order-component	{
	display: block;
	padding: 10px;
}
.order-category-title	{
	font-size: 15px;
	padding: 0 0 5px 0;
	color: #4b4b4b;
}
.item-to-add	{
	font-size: 13px;
	font-weight: 500;
	padding: 5px 0 0 5px;
	color: #4b4b4b;
}
.item-added-title {
	font-size: 15px;
	font-weight: 500;
	color: #4b4b4b;
	text-align: center;
	padding: 12px 0 10px 0;
}
.order-ingredients	{
	font-size: 15px;
	font-weight: 300;
	color: #4b4b4b;
	padding: 5px 0 0 5px;
}
textarea	{
	border-radius: 15px;
	vertical-align: middle;
	border: 1px solid #B0A8A6;
	text-align: center;
}
textarea:focus	{
	outline: none;
	border-color: #df9eed;
	box-shadow: 0 0 10px #df9eed;
}
#submit-btn	{
	margin: 300px 200px 0 0;
	float: right;
}
/*-----------------------------View Order Page-------------------------------------------------*/
.view-order  {
	padding: 35px 0 0 0
}
.order-viewer-line	{
	padding: 0 50px 15px 0;
}